<div class="list-group" style="color: gray;">
    {% for article in pager %}
        <a
            class="list-group-item list-group-item-action"
            href={{ path('article_show', {'id' : article.id}) }}
        >
            {{ article.title }}
        </a>
    {% else %}
        <div class="list-group-item">No results found!</div>
    {% endfor %}
</div>